body {background-color: #FBE4FF;
font-family: 'PT Sans', sans-serif;}


.header {
    width: 100%;
    top: 0;
    left: 0;
    height: 65px;
    position: fixed;
    z-index: 6;
    margin: 0px;
    align-items: center;
    box-sizing: border-box;
    background-color: #243B93;
    justify-content: center;
}


.main_menu {
    display: flex;
    width: 1321px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 6px;
    color: white;
    align-items: center;
}

.lang {
    display: flex;
}

.menu {
    background-color: #BFF0FF;
    height: 85px;
    position: relative;
}


.menu_text{
    width: 1321px;
    padding-top: 17px;
    padding-bottom: 11px;
    color: black;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0px 4px 5px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
}


.location_selection {
    margin-left: auto;
    margin-right: auto;
    line-height: 50px;
    background-color: #FFFFFF;
    align-items: center;
    margin-top: 200px;
    height:57px;
    width: 1321px;
    font-size: 30px;
    position: relative;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
}

.cards_block {
    margin-left: 20%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}


.location_card {
    display: flex;
    flex-direction: row;
    width: 1321px;
    height: 300px;
    background: linear-gradient(92.95deg, #A9CBD6, #0AB1E6);
    margin-top: 30px;
    box-sizing: border-box;
    padding: 21px 52px 21px 52px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.location_card:hover .card_button {background-color: #EF075B}


.location_card:hover {
    background-color: #2CBDEB;
}


.location_card:hover path {fill: yellow}


.photo {
    inline-size: fit-content;
}


.location_name {
    font-weight: 700;
    box-sizing: border-box;
    align-items: center;
    color: #353C57;
    flex-wrap: wrap;
    font-style: italic;
    font-size: 36px;
    margin-left: 30px;
    margin-top: -22px;
    margin-bottom: 12px;
    border-bottom: solid #BFF0FF;
}


.card_information {
    inline-size: fit-content;
    background-color: #EDFBFF;
    box-sizing: border-box;
    align-items: center;
    color: #202846;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-left: 30px;
    height: 205px;
    margin-top: 0px;
}



.card_button {
    background-color: #243B93;
    border-radius: 30px;
    width: 210px;
    height: 46px;
    text-align: center;
    position: absolute;
    padding-top: 12px;
    box-sizing: border-box;
    align-items: end;
    color: white;
    bottom: 11px;
    right: -30px;
}


.star {
    position:absolute;
    z-index: 5;
    right:10px;
    top:6px;
}


.cabinet_title {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 85px;
    background: linear-gradient(92.95deg, #FFE601, #55D6FF);
    box-sizing: border-box;
}

.cabinet_title_text {
    width: 1321px;
    color: #243B93;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    font-style: italic;
    padding-top: 17px;
    padding-bottom: 11px;
    text-shadow: 0px 4px 5px black;
    border:5px #000000;
}

.cabinet_data_card {
    box-sizing: border-box;
    background: linear-gradient(#859EFF, #69FFD2);
    width: 1318px;
    height: 498px;
    margin-left: auto;
    margin-right: auto;
    position:relative
    
}

.user_photo {
    position:absolute;
    top: 50px;
    left: 100px;
    

}

.change_av_button {
    background-color: #243B93;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    text-align: center;
    position: absolute;
    padding-top: 12px;
    box-sizing: border-box;
    align-items: end;
    color: white;
    bottom: 200px;
    left: 80px;
    font-size: 24px;
}

.settings_button {
    background-color: #EF075B;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    text-align: center;
    position: absolute;
    padding-top: 12px;
    box-sizing: border-box;
    align-items: end;
    color: white;
    bottom: 120px;
    left: 80px;
    font-size: 24px;
}

.user_information {
    margin-left:40%;
    margin-right: 6%;
    box-sizing: border-box;
    padding-top: 5%;
    font-size: 36px;
    font-style: italic;
    
}

.user_name{
    height: 46px;
    display: flex;
    margin: 3%;
    border-bottom: solid #FFFFFF;
    font-weight: bolder
}

.data_row{
    height: 46px;
    display:flex;
    margin:3%;
    border-bottom: solid #FFFFFF;

}

.data_title {
    font-weight: bolder;
}

.exit_button {
    background-color: #243B93;
    border-radius: 30px;
    width: 175px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    color: white;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact_title {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 85px;
    background: linear-gradient(92.95deg, #55D6FF, #FFE601);
    box-sizing: border-box;
}

.contact_title_text {
    width: 1321px;
    color: #243B93;
    margin-left: auto;
    margin-right: auto;
    font-size: 44px;
    font-style: italic;
    padding-top: 17px;
    padding-bottom: 11px;
    border: 5px #000000;
}

.contact_information {
    width: 1321px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.tel_address{
    display: flex;
    flex-direction: column;    
}

.tel_address{
    margin-right: 5%;
}

.contact_data_title {
    border-bottom: 3px solid;
}

.contact_mail { 
    margin-right: 5%;
}



iframe {
    border: solid;
    border-radius: 40px;
    width: 500px;
    box-sizing: border-box;
    position: relative;
}

.footer {
    width: 100%;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 6;
    margin: 0px;
    align-items: center;
    box-sizing: border-box;
    background-color: #243B93;
    justify-content: center;
}

.footer_text {
    display: flex;
    width: 1321px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-style: italic;
    padding-top: 17px;
    padding-bottom: 11px;
    color: white;
    align-items: center;
}

.arrow_conteiner{
   width:100% 
}

.arrow{
    width:100px;
    height: 100px;
    display:flex;
    position:fixed;
    bottom:20px;
    left: 80%;
    z-index: 10;
    border-radius:50%;
    align-items: center;
    justify-content: center;
    background: rgba(32, 40, 70, 0.5);
}

.arrow:hover{
    background: rgba(32, 40, 70, 1)
}